[submodule "fish"]
	path = fish
	url = https://github.com/TaiseiYokoshima/fish
[submodule "nvim"]
	path = nvim
	url = https://github.com/TaiseiYokoshima/nvim
[submodule "hypr"]
	path = hypr
	url = https://github.com/TaiseiYokoshima/hypr
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/TaiseiYokoshima/wezterm
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/TaiseiYokoshima/alacritty
[submodule "zellij"]
	path = zellij
	url = https://github.com/TaiseiYokoshima/zellij
[submodule "waybar"]
	path = waybar
	url = https://github.com/TaiseiYokoshima/waybar
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/TaiseiYokoshima/wallpapers
[submodule "scripts"]
	path = scripts
	url = https://github.com/TaiseiYokoshima/scripts
[submodule "rofi"]
	path = rofi
	url = https://github.com/TaiseiYokoshima/rofi
[submodule "kitty"]
	path = kitty
	url = https://github.com/TaiseiYokoshima/kitty
[submodule "dunst"]
	path = dunst
	url = https://github.com/TaiseiYokoshima/dunst
[submodule "tmux"]
	path = tmux
	url = https://github.com/TaiseiYokoshima/tmux
[submodule "sway"]
	path = sway
	url = https://github.com/TaiseiYokoshima/sway
[submodule "fcitx5"]
	path = fcitx5
	url = https://github.com/TaiseiYokoshima/fcitx5
